.container {
  background-color: rgba(4, 156, 149, 0.808);
  color: white;
  font-size: 16px;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 50px;
  padding-top: 5px;
  margin-top: 10px;
}

.content {
  margin-left: 50px;
  text-align: left;
}
body {
  background-color: rgb(0, 79, 82);
}

h2 {
  margin: 0px;
}

label {
  display: inline-block;
  width: 200px;
  cursor: pointer;
}

input[type="text"],
input[type="email"],
input[type="tel"],
input[type="url"] {
  width: 250px;
  border-radius: 10px;
}

input[type="number"],
input[type="password"],
input[type="month"] {
  width: 170px;
  border-radius: 50px;
}

input[type="submit"],
input[type="reset"] {
  width: 240px;
  border-radius: 50px;
}
